<section>
    <div class="titulos">
        <h2>{{ 'projects.title' | translate }}</h2>
    </div>
    <div class="descripcion">
        <p>{{ 'projects.description' | translate }}</p>
    </div>

    <!-- <app-proyectos-formales></app-proyectos-formales> -->

    <div class="titulo"><h3>{{ 'projects.personalProjects' | translate }}</h3></div>
    <div class="container">
        <!-- Bucle *ngFor para recorrer la lista de proyectos y crear una tarjeta por cada uno / fadeIn es el llamado a la animación
        definida en el .ts -->
        <div *ngFor="let proyecto of proyectos | slice:0:visibleCardsCount" class="card" [@fadeIn]>
            <!-- Encabezado de la tarjeta -->
            <div class="card-img">
                <a [href]="proyecto.link" target="_blank" rel="noopener noreferrer" [attr.aria-label]="'Ver proyecto: ' + proyecto.title">
                    <img [src]="proyecto.image" class="project-image" [alt]= "proyecto.altImg" [title]= "proyecto.titleImg"  loading="lazy">
                </a>
            </div>
            <!-- Cuerpo de la tarjeta -->
            <div class="card-body">
                <h3 class="project-title">{{ proyecto.title }}</h3>
                <p class="project-description">{{ proyecto.description }}</p>
                <div class="project-tags">
                    <span *ngFor="let tag of proyecto.tags" class="tag">{{ tag }}</span>
                </div>
            </div>
            <div class="card-footer">
                <a [href]="proyecto.link" target="_blank" rel="noopener noreferrer" class="btn" [attr.aria-label]="'Ver proyecto: ' + proyecto.title">{{ 'projects.viewProject' | translate }}</a>
            </div>
        </div>
    </div>
    <!-- Contenedor del botón "Cargar más" -->
    <div class="content-button" *ngIf="visibleCardsCount < proyectos.length">
        <!-- Botón "Cargar más" -->
        <a href="#" class="animate-button" (click)="loadMoreCards(); $event.preventDefault()">{{ 'projects.loadMore' | translate }}</a>
    </div>
</section>