section {
    background: #280234;
    width: 100%;
    min-height: 30vh;
    padding: 60px 45px;
    --color: #fdfdfd;
    --color2: #ddb5ef;
    }

.titulos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    }

.titulos h2 {
    font-size: 28px;
    letter-spacing: 2px;
    font-family: 'Carter One', cursive;
    color: var(--color);
    width: 360px;
    text-align: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    }

.descripcion {
    color: var(--color);
    width: 100%;
    text-align: center;
    font-size: 17px;
    letter-spacing: .9px;
    }

.container {
    display: flex;
    align-items: center;
    min-height: 30vh;
    }

.lenguajes-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    }

.lenguaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    }

.lenguaje i {
    font-size: 68px;
    color: var(--color2);
    }

.lenguaje span {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color2);
    margin-top: 10px;
    }

.cont-wave {
    position: relative;
    width: 100%;
    }

.cont-wave .w1 {
    position: absolute;
    top: 0;
    z-index: 1;
    }

@media (max-width: 991px) {
    section {
        padding: 40px 15px;
    }
}

@media (max-width: 600px) {
    .titulos h2 {
        font-size: 16px;
        }

    .descripcion {
        width: 100%;
        text-align: center;
        font-size: 13px;
        }

    .lenguajes-container {
        gap: 20px;
        margin-top: 10px;
        }

    .lenguaje span {
        font-size: 14px;
        margin-top: 7px;
        }
}

@media (max-width: 991px) and (max-height:321px){
    .titulos h2 {
        font-size: 16px;
        }

    .descripcion {
        width: 100%;
        text-align: center;
        font-size: 13px;
        }

    .lenguajes-container {
        gap: 20px;
        margin-top: 10px;
        }

    .lenguaje span {
        font-size: 14px;
        margin-top: 7px;
        }
}