section {
    width: 100%;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    padding: 60px 45px;
    position: relative;
    overflow: hidden;
    }

.circle1, .circle2, .circle3 {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(116, 9, 135, 0.2);
    filter: blur(20px);
    z-index: 1;
    }

.circle1 {
    top: 0;
    left: 0;
    transform: translate(-50%, -60%);
    opacity: .6;
    }

.circle2 {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    opacity: .8;
    }

.circle3 {
    bottom: 0;
    left: 0;
    transform: translate(30%, 70%);
    opacity: .6;
    }

.titulos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    }

.titulos h2 {
    font-size: 28px;
    letter-spacing: 2px;
    font-family: 'Carter One', cursive;
    width: 360px;
    text-align: center;
    border-bottom: 2px solid black;
    }

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 20px;
    z-index: 2;
    }

.cont-card {
    min-width: 30%;
    }

.content-about {
    min-width: 70%;
    }

.content-about .title {
    font-size: 24px;
    font-weight: 500;
    }

.title span {
    font-size: 30px;
    }

.content-about p {
    font-size: 20px;
    color: rgb(17, 16, 16);
    line-height: 1.8;
    position: relative;
    z-index: 2;
    }

mark {
    background: #5a069b;
    color: #fdfdfd;
    }

.content-button {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: 3;
    }

.content-button a {
    --color: #fdfdfd;
    --color2: #23043a;
    padding: 1em 2.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 500;
    font-size: 17px;
    border: 2px solid var(--color2);
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color2);
    z-index: 1;
    }

.content-button a:hover {
    color: var(--color);
    }
    
.animate-button::after, .animate-button::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color2);
    transition: .8s ease;
    }
    
a::before {
    top: -1em;
    left: -1em;
    }

a::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
    }

a:hover::before, a:hover::after {
    height: 410px;
    width: 410px;
    }

a:hover {
    color: rgb(10, 25, 30);
    }

a:active {
    filter: brightness(.8);
    }

.cont-wave {
    position: relative;
    width: 100%;
    height: 80px;
    }

.cont-wave .w1 {
    position: absolute;
    bottom: 0;
    z-index: 1;
    }

@media (max-width: 991px) {
    .container {
        flex-direction: column;
        }

    .cont-card {
        min-width: 100%;
        }

    .content-about {
        min-width: 100%;
        }

    .content-button a {
        width: 100%;
        margin-top: 15px;
        }

    a:hover::before, a:hover::after {
        height: 920px;
        width: 920px;
        }
}

@media (max-width: 600px) {
    section {
        padding: 60px 20px;
        }

    .titulos h2 {
        font-size: 16px;
        }

    .content-about .title {
        font-size: 16px;
        }

    .title span {
        font-size: 19px;
        }

    .content-about p {
        font-size: 14px;
        }

    .content-button a {
        width: 100%;
        font-size: 14px;
        margin-top: 2px;
        }

    a:hover::before, a:hover::after {
        height: 420px;
        width: 420px;
        }
}

@media (max-width: 991px) and (max-height:321px){
    .titulos h2 {
        font-size: 16px;
        }

    .content-about .title {
        font-size: 16px;
        }

    .title span {
        font-size: 19px;
        }

    .content-about p {
        font-size: 14px;
        }

    .content-button a {
        width: 100%;
        font-size: 14px;
        margin-top: 2px;
        }

    a:hover::before, a:hover::after {
        height: 620px;
        width: 620px;
        }
}