<section>
    <div class="titulos"><h2>SOBRE MI</h2></div>
    <div class="container">
        <div class="cont-card">
            <app-about-card></app-about-card>
        </div>
        <div class="content-about">
            <h2 class="title"><span>B</span>ienvenido a mi portafolio web ...</h2>
            <p>Soy Daniel Calderón un <b>Desarrollador Web Front-end Jr</b> apasionado por el diseño y la creación de experiencias de 
            usuarios únicos. Mi objetivo es crear sitios web intuitivos y atractivos que sean fáciles de usar y que brinden una 
            experiencia de usuario excepcional.
            En mi portafolio podrá encontrar algunos de los proyectos en los que ha trabajado, en los que ha puesto en práctica mis 
            habilidades en Angular, HTML, CSS y JavaScript para desarrollar sitios web responsivos y optimizados para diferentes 
            dispositivos y navegadores.
            <br>
            <b>¡Gracias por visitar mi portafolio web y espero que disfrutes viendo mis proyectos tanto como yo disfruté creándolos!</b>
            </p>
            <div class="content-button">
                <a mat-button class="animate-button" (click)="scrollToComponent('contact')">CONTACTAME</a>
            </div>
        </div>
    </div>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
</section>