<section id="contact">
    <div class="titulos"><h2>CONTACTO</h2></div>
    <div class="container">
        <div class="contactinfo">
            <h3 class="subtitulo">Información de Contacto</h3>
            <div class="contactinfobx">
                <div class="box">
                <div class="icon">
                    <mat-icon>location_on</mat-icon>
                </div>
                <div class="text">
                    <h3>Dirección</h3>
                    <p>Colombia <br> Villeta - Cundinamarca</p>
                </div>
                </div>

                <div class="box">
                <div class="icon">
                    <mat-icon>phone</mat-icon>
                </div>
                    <div class="text">
                    <h3>Celular</h3>
                    <p>+57 3213461519</p>
                </div>
                </div>

                <div class="box">
                    <div class="icon">
                        <mat-icon>mail</mat-icon>
                    </div>
                    <div class="text">
                    <h3>E-mail</h3>
                    <p>calderondanieldavid@gmail.com</p>
                </div>
                </div>
            </div>
        </div>
        <div class="formbx">
            <app-form></app-form>
        </div>
    </div>
</section>