<section>
    <app-circles></app-circles>
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <h1 class="title">
                    <span class="main-title">Portafolio Web </span>
                    <span class="subtitle">Desarrollador Web Front-End Junior</span>
                </h1>
                <p class="description">Como <strong>Desarrollador web Front-End</strong>,
                mi misión es transformar tus ideas en experiencias web que cautivarán a tus visitantes e impulsarán 
                tu negocio en línea. Explora mi trabajo y descubre cómo puedo llevar tus proyectos al siguiente nivel.</p>
            </div>
            <div class="content-buttons">
                <a mat-button class="animate-button" (click)="scrollToComponent('proyectos')">Proyectos</a>
                <a mat-button class="animate-button" (click)="scrollToComponent('about')">Sobre mi</a>
            </div>
        </div>
    </div>
</section>