<section>
    <app-circles></app-circles>
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <h1 class="title">
                    <span class="main-title">Portafolio Web </span>
                    <span class="subtitle">Desarrollador Web Front-End Junior</span>
                </h1>
                <p class="description">Bienvenido a mi portafolio web! Soy <strong>Daniel David Calderón</strong>, un apasionado 
                desarrollador web frontend. Explora mi trabajo y descubre cómo transformo ideas en experiencias 
                web cautivadoras.</p>
            </div>
            <div class="content-buttons">
                <a mat-button class="animate-button" (click)="scrollToComponent('proyectos')">Proyectos</a>
                <a mat-button class="animate-button" (click)="scrollToComponent('about')">Sobre mi</a>
            </div>
        </div>
    </div>
</section>