.titulos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    }

.titulos h3 {
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'Carter One', cursive;
    width: 250px;
    text-align: center;
    }

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    row-gap: 40px;
    flex-wrap: wrap;
    }

.card {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color);
    overflow: hidden;
    }

.card-img {
    height: 200px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    }

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 400ms;
    }

.card:hover img {
    scale: 105%;
    }

.card-body {
    padding: 20px;
    }

.project-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    }

.project-description {
    height: 180px;
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
    }

.project-client {
    margin-bottom: 10px;
    }

.client {
    font-size: 14px;
    font-weight: 500;
    color: #777777;
    }

.testimonio {
    color: #282828;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
    }

.project-tags {
    margin-top: 5px;
    margin-bottom: 10px;
    }

.tag {
    display: inline-block;
    background-color: #f1f1f1;
    color: #333333;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    margin-top: 5px;
    margin-right: 5px;
    }

.card-footer {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    }

.btn {
    width: 100%;
    display: inline-block;
    background-color: #280234;
    color: var(--color);
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: .2s;
    }

.btn:hover {
    background-color: #4d125f;
    }

@media (max-width: 991px) {
    section {
        padding: 10px 0;
        }

    .container {
        margin-top: 10px;
        row-gap: 30px;
        }
}

@media (max-width: 600px) {
    .titulos {
        margin-top: 0;
        }

    .titulos h3 {
        font-size: 16px;
        }

    .descripcion {
        width: 100%;
        text-align: center;
        font-size: 13px;
        }

    .card-img {
        height: 160px;
        }

    .card-body {
        padding: 15px;
        }

    .project-title {
        font-size: 16px;
        }

    .project-description {
        height: 150px;
        font-size: 12px;
        }

    .client {
        font-size: 12px;
        }

    .tag {
        font-size: 11px;
        }

    .card-footer {
        border-bottom: 1px solid #939292;
        }

    .btn {
        font-size: 12px;
        }
}

@media (max-width: 991px) and (max-height:321px){
    section {
        padding: 60px 15px;
    }

    .titulos h3 {
        font-size: 16px;
        }

    .descripcion {
        width: 100%;
        text-align: center;
        font-size: 13px;
        }

    .container {
        margin-top: 40px;
        gap: 15px 10px;
        }

    .card {
        width: 250px;
        }

    .card-img {
        height: 160px;
        }

    .card-body {
        padding: 15px;
        }

    .project-title {
        font-size: 16px;
        }

    .project-description {
        height: 150px;
        font-size: 12px;
        }

    .tag {
        font-size: 9px;
        }

    .card-footer {
        border-bottom: 1px solid #939292;
        }

    .btn {
        font-size: 12px;
        }
}