<form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="name" formControlName="name" required>
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error-message">
        El nombre es requerido.
        </div>
    </div>
    <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error-message">
        El correo electrónico es requerido y debe tener un formato válido.
        </div>
    </div>
    <div class="form-group">
        <label for="message">Mensaje:</label>
        <textarea id="message" formControlName="message" required></textarea>
        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error-message">
        El mensaje es requerido.
        </div>
    </div>
    <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
    <ng-template #successModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Éxito</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="success-icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <p>El formulario se ha enviado correctamente.</p>
        </div>
    </ng-template>
</form>