<div class="container" id="services">
    <div class="titulos"><h2>Servicios</h2></div>
    <div class="services-container">
        <div class="service">
            <i class="fas fa-code"></i>
            <h3>Sitios Web Atractivos</h3>
            <p>Desarrollo de sitios web modernos y atractivos visualmente.</p>
        </div>
        <div class="service">
            <i class="fas fa-mobile-alt"></i>
            <h3>Diseño Responsivo</h3>
            <p>Creación de interfaces que se adaptan a diferentes dispositivos.</p>
        </div>
        <div class="service">
            <i class="fas fa-search"></i>
            <h3>Optimización SEO</h3>
            <p>Mejora del posicionamiento en buscadores para mayor visibilidad.</p>
        </div>
    </div>
</div>