<body>
    <app-loader></app-loader>

    <app-header></app-header>

    <app-whatsapp-button></app-whatsapp-button>

    <section id="inicio">
        <app-banner></app-banner>
    </section>

    <section id="about">
        <app-about></app-about>
    </section>

    <section id="lenguajes">
        <app-lenguajes></app-lenguajes>
    </section>

    <section id="proyectos">
        <app-proyectos></app-proyectos>
    </section>

    <section id="testimonios">
        <app-testimonios></app-testimonios>
    </section>

    <section id="contact">
        <app-contact></app-contact>
    </section>

    <app-footer></app-footer>
</body>