.container-comentarios {
    width: 92%;
    padding: 40px 20px 20px 20px;
    display: grid;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    }

.container-comentarios p {
    font-weight: 600;
    }

@media (max-width: 600px) {
    .container-comentarios {
        width: 100%;
        padding: 20px 10px 15px 10px;
        }

    .container-comentarios p {
        font-size: 15px;
        text-align: center;
        }
}