<div class="card">
    <div class="cont-img">
        <img src="../../assets/images/perfil.jpg" alt="">
    </div>
    <div class="cont-content">
        <h2 class="name">Daniel Calderón</h2>
        <p><strong>Desarrollador Web Front-end Jr</strong></p>
        <hr>
    </div>
    <div class="cont-social">
        <a href="https://wa.me/573213461519" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://github.com/DanielDCT" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100061123026138" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/daniel.callderon_/" target="_blank"rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/danieldacati1" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
</div>